.App {
  text-align: left;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.appText {
  margin-left: 10px;
  margin-right: 5px;
}




.whiteContainer {

  position: absolute;
  width: 1920px;
  height: 917px;
  left: 0px;
  top: 100px;

  background: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}